html { 
    background: url(images/waik-min.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .total-container {
      max-width:  1200px;
      margin: 10px auto 10px auto;

  }

  .flex-container {
    display: flex; /* or inline-flex */
 
    justify-content: space-between;
    
  }

  .flex-item {
    text-align: center;
  }


/*.container {
    max-width: 450px;
    background-color: rgb(245, 245, 245, 0.7);
}

p,
h2 {
    opacity: 1.0;
    margin: 0px;
}

h6 {
    margin-bottom: 5px;
}

.header,
.footer {
    text-align: center;
    margin-bottom: 4px;
}

.title {
    margin-top: 2rem;
    margin-bottom: 0px;
}

.fa {
    color: gray;
    width: 45px;
    padding-bottom: 0.5px;
}

.project {
    text-align: center;
} */

.u-max-full-width {
    border: solid 2px #222222;
    margin: 0px;
    height: 97.5px;
    width: 337.5px;
}

.u-max-full-width:hover,
.fa:hover {
    opacity: 0.7;
}

.svg {
    height: 50px;
    padding: 5px;
}